# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
venv/
env/
.venv/
ENV/

# =========================
# PyInstaller
# =========================
build/
dist/
*.spec
*.exe
*.app
*.dll
*.so

# =========================
# Qt / PySide temporary
# =========================
*.ui~
*.qrc~
*.qmlc
*.jsc

# =========================
# Logs
# =========================
*.log

# =========================
# IDE Files
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing / coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# mypy
# =========================
.mypy_cache/

# =========================
# Compiled translations
# =========================
*.qm